doctype html
html(lang='en')
  head
    title Jade
  body
    h1 Jade - node template engine
         h2 ta sẽ quyet nhan giong nho
                 h3 alibabababababbababba
    div
  address
  i
  strong
